{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">

    <div class="row text-center">
        <div class="col-12">

            <h2>GET IN TOUCH !!!</h2>

            <p>We’re here to help! If you have any questions, comments, or feedback, please don’t
                 hesitate to reach out. Your inquiries are important to us, 
                 and we’re eager to assist you.</p>

              <form class="text-center" id="contact-form" method="post">
                {{ contactform | crispy }}
                {% csrf_token %}
                <button class="crudbtn" id="contact-btn"
                  type="submit">Submit</button>
              </form>
                                  

        </div>
    </div>
</div>
{% endblock content %}